USE [master]
GO
/****** Object:  Database [QUANLYNHANVIENKHACHSAN]    Script Date: 16-May-24 11:53:36 PM ******/
CREATE DATABASE [QUANLYNHANVIENKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHANVIENKHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSQL\MSSQL\DATA\QUANLYNHANVIENKHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYNHANVIENKHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSQL\MSSQL\DATA\QUANLYNHANVIENKHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHANVIENKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHANVIENKHACHSAN]
GO
/****** Object:  Table [dbo].[Chucvu]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chucvu](
	[Ma ChucVu] [nvarchar](10) NOT NULL,
	[Chuc Vu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Luong] PRIMARY KEY CLUSTERED 
(
	[Ma ChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Congviec]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Congviec](
	[Ma CongViec] [nvarchar](10) NOT NULL,
	[Chi Tiet Cong Viec] [nchar](50) NULL,
	[Ca Lam] [nvarchar](50) NULL,
 CONSTRAINT [PK_Congviec_1] PRIMARY KEY CLUSTERED 
(
	[Ma CongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongviecNV]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongviecNV](
	[Ma CongViec] [nvarchar](10) NOT NULL,
	[Ma NV] [nvarchar](10) NULL,
	[Ngay Lam] [datetime] NULL,
	[Cham Cong] [bit] NULL,
	[Nghi Phep] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[Ma Luong] [nvarchar](10) NOT NULL,
	[Ten Ma Luong] [nvarchar](50) NULL,
	[Luong Co Ban] [decimal](12, 3) NULL,
	[Phu Cap] [decimal](12, 3) NULL,
 CONSTRAINT [PK_Luong_1] PRIMARY KEY CLUSTERED 
(
	[Ma Luong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNV]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNV](
	[Ma Luong] [nvarchar](10) NULL,
	[Ma NV] [nvarchar](10) NULL,
	[Thang] [int] NULL,
	[Ngay cong] [int] NULL,
	[Thuong] [decimal](10, 3) NULL,
	[Phat] [decimal](10, 3) NULL,
	[Luong Tong] [decimal](12, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[Ma NV] [nvarchar](10) NOT NULL,
	[Ten Nhan Vien] [nvarchar](50) NULL,
	[Ngay Sinh] [datetime] NULL,
	[Gioi Tinh] [nvarchar](50) NULL,
	[Dia chi] [nvarchar](50) NULL,
	[So Dien Thoai] [nchar](10) NULL,
	[Hinh anh] [image] NULL,
	[Email] [nvarchar](50) NULL,
	[CCCD] [nchar](12) NULL,
	[Ma BaoHiem] [nchar](10) NULL,
	[Tai Khoan Ngan Hang] [nchar](10) NULL,
	[Ten Ngan Hang] [nvarchar](50) NULL,
	[Ma PhongBan] [nvarchar](10) NULL,
	[Password] [nvarchar](50) NULL,
	[Ma PhanQuyen] [nvarchar](10) NULL,
	[Ma ChucVu] [nvarchar](10) NULL,
	[Trinh do] [nvarchar](max) NULL,
	[Kinh nghiem] [nvarchar](max) NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[Ma NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phanquyen]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phanquyen](
	[Ma PhanQuyen] [nvarchar](10) NOT NULL,
	[Phan Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phanquyen] PRIMARY KEY CLUSTERED 
(
	[Ma PhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phongban]    Script Date: 16-May-24 11:53:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phongban](
	[Ma PhongBan] [nvarchar](10) NOT NULL,
	[Ten PhongBan] [nvarchar](50) NULL,
	[Ma TruongPhong] [int] NULL,
 CONSTRAINT [PK_Phongban] PRIMARY KEY CLUSTERED 
(
	[Ma PhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CongviecNV]  WITH CHECK ADD  CONSTRAINT [FK_CongviecNV_Congviec] FOREIGN KEY([Ma CongViec])
REFERENCES [dbo].[Congviec] ([Ma CongViec])
GO
ALTER TABLE [dbo].[CongviecNV] CHECK CONSTRAINT [FK_CongviecNV_Congviec]
GO
ALTER TABLE [dbo].[CongviecNV]  WITH CHECK ADD  CONSTRAINT [FK_CongviecNV_Nhanvien] FOREIGN KEY([Ma NV])
REFERENCES [dbo].[Nhanvien] ([Ma NV])
GO
ALTER TABLE [dbo].[CongviecNV] CHECK CONSTRAINT [FK_CongviecNV_Nhanvien]
GO
ALTER TABLE [dbo].[LuongNV]  WITH CHECK ADD  CONSTRAINT [FK_LuongNV_Luong] FOREIGN KEY([Ma Luong])
REFERENCES [dbo].[Luong] ([Ma Luong])
GO
ALTER TABLE [dbo].[LuongNV] CHECK CONSTRAINT [FK_LuongNV_Luong]
GO
ALTER TABLE [dbo].[LuongNV]  WITH CHECK ADD  CONSTRAINT [FK_LuongNV_Nhanvien] FOREIGN KEY([Ma NV])
REFERENCES [dbo].[Nhanvien] ([Ma NV])
GO
ALTER TABLE [dbo].[LuongNV] CHECK CONSTRAINT [FK_LuongNV_Nhanvien]
GO
ALTER TABLE [dbo].[Nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_Nhanvien_Chucvu] FOREIGN KEY([Ma ChucVu])
REFERENCES [dbo].[Chucvu] ([Ma ChucVu])
GO
ALTER TABLE [dbo].[Nhanvien] CHECK CONSTRAINT [FK_Nhanvien_Chucvu]
GO
ALTER TABLE [dbo].[Nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_Nhanvien_Phanquyen] FOREIGN KEY([Ma PhanQuyen])
REFERENCES [dbo].[Phanquyen] ([Ma PhanQuyen])
GO
ALTER TABLE [dbo].[Nhanvien] CHECK CONSTRAINT [FK_Nhanvien_Phanquyen]
GO
ALTER TABLE [dbo].[Nhanvien]  WITH CHECK ADD  CONSTRAINT [FK_Nhanvien_Phongban] FOREIGN KEY([Ma PhongBan])
REFERENCES [dbo].[Phongban] ([Ma PhongBan])
GO
ALTER TABLE [dbo].[Nhanvien] CHECK CONSTRAINT [FK_Nhanvien_Phongban]
GO
USE [master]
GO
