@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./trang-ch-nhn-vin.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
</head>
<style>
    .thng-tin-c3 {
        position: absolute;
        top: 33px;
        left: 55px;
        font-weight: 500;
        display: inline-block;
        width: 222px;
        height: 32px;
    }

    .thng-tin-c-nhn4 {
        position: absolute;
        top: 220px;
        left: 0;
        width: 289px;
        height: 90px;
        cursor: pointer;
    }

    .trang-ch-nhn-vin-child {
        position: absolute;
        top: 490px;
        left: 0;
        background-color: var(--color-forestgreen-100);
        width: 289px;
        height: 534px;
        overflow: hidden;
    }

    .binh-minh-hotel2 {
        position: absolute;
        top: 0;
        left: 148px;
        font-size: var(--font-size-31xl);
        font-family: var(--font-irish-grover);
        color: var(--color-white);
        display: inline-block;
        width: 279px;
        height: 111px;
    }

    .frame-child,
    .frame-inner,
    .frame-item {
        position: absolute;
        top: 35px;
        left: 900px;
        border-radius: var(--br-3xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 160px;
        height: 50px;
    }

    .frame-inner,
    .frame-item {
        left: 1070px;
        cursor: pointer;
    }

    .frame-inner {
        left: 1240px;
    }

    .i-mt-khu2,
    .ng-xut2,
    .trang-ch2 {
        position: absolute;
        top: 48px;
        left: 933px;
        font-weight: 500;
        display: inline-block;
        width: 116px;
        height: 28px;
    }

    .i-mt-khu2,
    .ng-xut2 {
        left: 1091px;
        width: 134px;
    }

    .ng-xut2 {
        left: 1272px;
        width: 116px;
    }

    .binh-minh-hotel-container {
        position: absolute;
        top: 0;
        left: -1px;
        background-color: var(--color-forestgreen-200);
        width: 1500px;
        height: 120px;
        overflow: hidden;
        font-size: var(--font-size-xl);
        color: var(--color-black);
    }

    .istockphoto-1420738401-170667a-icon2 {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 107px;
        height: 96px;
        object-fit: cover;
    }

    .cho-mng-bn {
        position: absolute;
        top: 140px;
        left: 310px;
        font-size: 48px;
        color: var(--color-black);
        display: inline-block;
        width: 708px;
        height: 58px;
    }

    .trang-ch-nhn-vin-item {
        position: absolute;
        top: 229px;
        left: 344px;
        border-radius: var(--br-xl);
        background-color: var(--color-white);
        width: 320px;
        height: 150px;
    }

    .trang-ch-nhn-vin-inner {
        position: absolute;
        top: 246px;
        left: 364px;
        border-radius: var(--br-8xs);
        background-color: var(--color-limegreen);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 280px;
        height: 54px;
    }

    .chc-v {
        position: absolute;
        top: 247px;
        left: 426px;
        font-size: var(--font-size-21xl);
        display: inline-block;
        width: 169px;
        height: 44px;
    }

    .trang-ch-nhn-vin-child1 {
        position: absolute;
        top: 308px;
        left: 364px;
        border-radius: var(--br-8xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 280px;
        height: 54px;
    }

    .nhn-vin {
        position: absolute;
        top: 311px;
        left: 409px;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        display: inline-block;
        width: 190px;
        height: 48px;
    }

    .trang-ch-nhn-vin-child2 {
        position: absolute;
        top: 229px;
        left: 719px;
        border-radius: var(--br-xl);
        background-color: var(--color-white);
        width: 500px;
        height: 150px;
    }

    .trang-ch-nhn-vin-child3 {
        position: absolute;
        top: 246px;
        left: 739px;
        border-radius: var(--br-8xs);
        background-color: var(--color-limegreen);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 460px;
        height: 54px;
    }

    .trng-thi-chm {
        position: absolute;
        top: 247px;
        left: 770px;
        font-size: var(--font-size-21xl);
        display: inline-block;
        width: 418px;
        height: 44px;
    }

    .trang-ch-nhn-vin-child4 {
        position: absolute;
        top: 308px;
        left: 739px;
        border-radius: var(--br-8xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 460px;
        height: 54px;
    }

    .chm-cng {
        position: absolute;
        top: 311px;
        left: 835px;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        display: inline-block;
        width: 282px;
        height: 48px;
    }

    .lch-lm-vic-inner {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 289px;
        height: 90px;
    }

    .lch-lm-vic5 {
        position: absolute;
        top: 30px;
        left: 77px;
        font-weight: 500;
        display: inline-block;
        width: 147.9px;
        height: 40px;
    }

    .lch-lm-vic4,
    .trang-ch-nhn-vin-child5 {
        position: absolute;
        top: 310px;
        left: 0;
        width: 289px;
        height: 90px;
        cursor: pointer;
    }

    .trang-ch-nhn-vin-child5 {
        top: 400px;
        background-color: var(--color-darkslategray);
    }

    .lng-c-nhn5 {
        position: absolute;
        top: 428px;
        left: 65.5px;
        font-weight: 500;
        display: inline-block;
        width: 179.8px;
        height: 39px;
    }

    .thng-tin-c-nhn-child3,
    .thng-tin-c-nhn5 {
        position: absolute;
        left: 0;
        width: 289px;
        height: 101px;
    }

    .thng-tin-c-nhn-child3 {
        top: 0;
        background-color: var(--color-darkslategray);
    }

    .thng-tin-c-nhn5 {
        top: 119px;
        cursor: pointer;
    }

    .user012 {
        position: absolute;
        top: 157px;
        left: 155px;
        display: inline-block;
        text-align: right;
        width: 86px;
        height: 24px;
    }

    .n-1-icon2 {
        position: absolute;
        top: 133px;
        left: 55px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .dang-xuat-link {
        position: absolute;
        top: 45px;
        right: 140px;
        font-weight: 500;
        display: inline-block;
        font-size: var(--font-size-xl); /* Điều chỉnh kích thước chữ */
        color: black; /* Màu chữ */
        font-family: var(--font-inter); /* Kiểu font chữ */
        text-decoration: none; /* Loại bỏ gạch chân */
    }

    .trang-ch-nhn-vin {
        width: 100%;
        position: relative;
        height: 1024px;
        overflow: hidden;
        background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgGH20AD&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGWgpXrwYOA13zasdHAXZf7qC8e5NWsgIsCksB2BTkjGQ&oe=665D139D);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: left;
        font-size: var(--font-size-3xl);
        color: var(--color-white);
        font-family: var(--font-inter);
    }

    body {
        margin: 0;
        line-height: normal;
    }

    :root {
        /* fonts */
        --font-inter: Inter;
        --font-irish-grover: "Irish Grover";
        /* font sizes */
        --font-size-3xl: 22px;
        --font-size-xl: 20px;
        --font-size-31xl: 50px;
        --font-size-11xl: 30px;
        --font-size-21xl: 40px;
        /* Colors */
        --color-white: #fff;
        --color-darkslategray: rgba(48, 46, 46, 0.89);
        --color-honeydew: #e2ffe1;
        --color-black: #000;
        --color-forestgreen-100: rgba(39, 162, 58, 0.8);
        --color-forestgreen-200: rgba(49, 162, 39, 0.8);
        --color-limegreen: #2dd01e;
        /* Border radiuses */
        --br-3xs: 10px;
        --br-8xs: 5px;
        --br-xl: 20px;
    }

</style>
<body>
    <div class="trang-ch-nhn-vin">
        <div class="thng-tin-c-nhn4" id="thngTinCNhn">
            <div class="lch-lm-vic-inner"></div>
            <div class="thng-tin-c3">Thông tin cá nhân</div>
        </div>
        <div class="trang-ch-nhn-vin-child"></div>
        <div class="binh-minh-hotel-container">
            <div class="binh-minh-hotel2">BINH MINH HOTEL</div>
            <div class="frame-child"></div>
            <div class="frame-item" id="rectangle1"></div>
            <div class="frame-inner" id="rectangle2"></div>
            <div class="trang-ch2">Trang chủ</div>
            <div class="i-mt-khu2">Đổi mật khẩu</div>
            <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 48px; right: 135px;">Đăng xuất</a>
        </div>
        <img class="istockphoto-1420738401-170667a-icon2"
             alt=""
             src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgEGrgiN&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGE8QM12JKsRYENqDdje-3szUmO1E_h_Y4YHuOU5d5AMA&oe=665B1E3E" />

        <div class="cho-mng-bn">Chào mừng bạn trở lại, User01!</div>
        <div class="trang-ch-nhn-vin-item"></div>
        <div class="trang-ch-nhn-vin-inner"></div>
        <div class="chc-v">Chức vụ</div>
        <div class="trang-ch-nhn-vin-child1"></div>
        <div class="nhn-vin">Nhân viên</div>
        <div class="trang-ch-nhn-vin-child2"></div>
        <div class="trang-ch-nhn-vin-child3"></div>
        <div class="trng-thi-chm">Trạng thái chấm công</div>
        <div class="trang-ch-nhn-vin-child4"></div>
        <div class="chm-cng">Đã chấm công</div>
        <div class="lch-lm-vic4" id="lchLmVic">
            <div class="lch-lm-vic-inner"></div>
            <div class="lch-lm-vic5">Lịch làm việc</div>
        </div>
        <div class="trang-ch-nhn-vin-child5" id="rectangle6"></div>
        <div class="lng-c-nhn5">Lương cá nhân</div>
        <div class="thng-tin-c-nhn5" id="thngTinCNhn1">
            <div class="thng-tin-c-nhn-child3"></div>
        </div>
        <b class="user012">User01</b>
        <img class="n-1-icon2"
             alt=""
             src="https://scontent.fdad3-6.fna.fbcdn.net/v/t1.15752-9/435130161_653072980295404_4271028034475173711_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG8tk7KTjd7wcwF73zG-ynne93imBE8o2Z73eKYETyjZo30U7apSA5kMEvsTjqngkAAgoe4i1Cp2ORyFPureElV&_nc_ohc=-iM-PodUooYQ7kNvgH1xpYI&_nc_ht=scontent.fdad3-6.fna&oh=03_Q7cD1QGt1yGXxBJ2aN6rnikrioL4A70c21EVcZ7azsHq3fbtgg&oe=665B1BA9" />
    </div>

    <script>
        var thng_Tin_C_Nhn = document.getElementById("thngTinCNhn");
        if (thng_Tin_C_Nhn) {
            thng_Tin_C_Nhn.addEventListener("click", function (e) {
                window.location.href = " https://localhost:7221/Nhanvien/thongtin";
            });
        }

        var rectangle1 = document.getElementById("rectangle1");
        if (rectangle1) {
            rectangle1.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - nv" to the project
            });
        }

       

        var lchLmVic = document.getElementById("lchLmVic");
        if (lchLmVic) {
            lchLmVic.addEventListener("click", function (e) {
                // Please sync "lịch làm việc cá nhân" to the project
            });
        }

        var rectangle6 = document.getElementById("rectangle6");
        if (rectangle6) {
            rectangle6.addEventListener("click", function (e) {
                window.location.href = " https://localhost:7221/Nhanvien/Luongcanhan";
            });
        }

        var lch_lm_vic_inner = document.getElementById("lch-lm-vic-inner");

        if (lch_lm_vic_inner) {
            lch_lm_vic_inner.addEventListener("click", function (e) {
                window.location.href = " https://localhost:7221/Nhanvien/thongtin";
            });
        }
    </script>
</body>
</html>
