@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<style>
    .thng-tin-c-nhn-child {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 289px;
        height: 90px;
    }

    .thng-tin-c {
        position: absolute;
        top: 33px;
        left: 55px;
        font-weight: 500;
        display: inline-block;
        width: 222px;
        height: 32px;
        cursor: pointer;
    }

    .thng-tin-c-nhn,
    .trang-ch-nhn-vin-child {
        position: absolute;
        top: 220px;
        left: 0;
        width: 289px;
        height: 90px;
    }

    .trang-ch-nhn-vin-child {
        top: 490px;
        background-color: var(--color-forestgreen-200);
        height: 534px;
        overflow: hidden;
    }

    .binh-minh-hotel {
        position: absolute;
        top: 0;
        left: 148px;
        font-size: var(--font-size-31xl);
        font-family: var(--font-irish-grover);
        color: var(--color-white);
        display: inline-block;
        width: 279px;
        height: 111px;
    }

    .frame-child,
    .frame-inner,
    .frame-item {
        position: absolute;
        top: 35px;
        left: 900px;
        border-radius: var(--br-3xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 160px;
        height: 50px;
    }

    .frame-inner,
    .frame-item {
        left: 1070px;
        cursor: pointer;
    }

    .frame-inner {
        left: 1240px;
    }

    .i-mt-khu,
    .ng-xut,
    .trang-ch {
        position: absolute;
        top: 48px;
        left: 933px;
        font-weight: 500;
        display: inline-block;
        width: 116px;
        height: 28px;
    }

    .i-mt-khu,
    .ng-xut {
        left: 1091px;
        width: 134px;
    }

    .ng-xut {
        left: 1272px;
        width: 116px;
    }

    .binh-minh-hotel-parent {
        position: absolute;
        top: 0;
        left: -1px;
        background-color: var(--color-forestgreen-300);
        width: 1500px;
        height: 120px;
        overflow: hidden;
        font-size: var(--font-size-xl);
        color: var(--color-black);
    }

    .istockphoto-1420738401-170667a-icon {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 107px;
        height: 96px;
        object-fit: cover;
    }

    .cho-mng-bn {
        position: absolute;
        top: 140px;
        left: 310px;
        font-size: var(--font-size-29xl);
        color: var(--color-black);
        display: inline-block;
        width: 708px;
        height: 58px;
    }

    .trang-ch-nhn-vin-item {
        position: absolute;
        top: 229px;
        left: 344px;
        border-radius: var(--br-xl);
        background-color: var(--color-white);
        width: 320px;
        height: 150px;
    }

    .trang-ch-nhn-vin-inner {
        position: absolute;
        top: 246px;
        left: 364px;
        border-radius: var(--br-8xs);
        background-color: var(--color-limegreen);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 280px;
        height: 54px;
    }

    .chc-v {
        position: absolute;
        top: 247px;
        left: 426px;
        font-size: var(--font-size-21xl);
        display: inline-block;
        width: 169px;
        height: 44px;
    }

    .rectangle-div {
        position: absolute;
        top: 308px;
        left: 364px;
        border-radius: var(--br-8xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 280px;
        height: 54px;
    }

    .nhn-vin {
        position: absolute;
        top: 311px;
        left: 409px;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        display: inline-block;
        width: 190px;
        height: 48px;
    }

    .trang-ch-nhn-vin-child1 {
        position: absolute;
        top: 229px;
        left: 719px;
        border-radius: var(--br-xl);
        background-color: var(--color-white);
        width: 500px;
        height: 150px;
    }

    .trang-ch-nhn-vin-child2 {
        position: absolute;
        top: 246px;
        left: 739px;
        border-radius: var(--br-8xs);
        background-color: var(--color-limegreen);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 460px;
        height: 54px;
    }

    .trng-thi-chm {
        position: absolute;
        top: 247px;
        left: 770px;
        font-size: var(--font-size-21xl);
        display: inline-block;
        width: 418px;
        height: 44px;
    }

    .trang-ch-nhn-vin-child3 {
        position: absolute;
        top: 308px;
        left: 739px;
        border-radius: var(--br-8xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 460px;
        height: 54px;
    }

    .chm-cng,
    .lch-lm-vic1 {
        position: absolute;
        display: inline-block;
    }

    .chm-cng {
        top: 311px;
        left: 835px;
        font-size: var(--font-size-21xl);
        color: var(--color-black);
        width: 282px;
        height: 48px;
    }

    .lch-lm-vic1 {
        top: 30px;
        left: 77px;
        font-weight: 500;
        width: 147.9px;
        height: 40px;
        cursor: pointer;
    }

    .lch-lm-vic,
    .trang-ch-nhn-vin-child4 {
        position: absolute;
        top: 310px;
        left: 0;
        width: 289px;
        height: 90px;
    }

    .trang-ch-nhn-vin-child4 {
        top: 400px;
        background-color: var(--color-darkslategray);
    }

    .lng-c-nhn {
        position: absolute;
        top: 428px;
        left: 65.5px;
        font-weight: 500;
        display: inline-block;
        width: 179.8px;
        height: 39px;
        cursor: pointer;
    }

    .thng-tin-c-nhn-item,
    .thng-tin-c-nhn1,
    .user01 {
        position: absolute;
        left: 0;
        width: 289px;
        height: 101px;
    }

    .thng-tin-c-nhn-item {
        top: 0;
        background-color: var(--color-darkslategray);
    }

    .thng-tin-c-nhn1,
    .user01 {
        top: 119px;
    }

    .user01 {
        top: 157px;
        left: 155px;
        display: inline-block;
        text-align: right;
        width: 86px;
        height: 24px;
    }

    .n-1-icon {
        position: absolute;
        top: 133px;
        left: 55px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .trang-ch-nhn-vin {
        width: 100%;
        position: relative;
        height: 1024px;
        overflow: hidden;
        background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgGH20AD&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGWgpXrwYOA13zasdHAXZf7qC8e5NWsgIsCksB2BTkjGQ&oe=665D139D);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: left;
        font-size: var(--font-size-3xl);
        color: var(--color-white);
        font-family: var(--font-inter);
    }

    body {
        margin: 0;
        line-height: normal;
    }

    :root {
        /* fonts */
        --font-inter: Inter;
        --font-irish-grover: "Irish Grover";
        /* font sizes */
        --font-size-3xl: 22px;
        --font-size-21xl: 40px;
        --font-size-29xl: 48px;
        --font-size-xl: 20px;
        --font-size-31xl: 50px;
        --font-size-11xl: 30px;
        --font-size-5xl: 24px;
        /* Colors */
        --color-white: #fff;
        --color-darkslategray: rgba(48, 46, 46, 0.89);
        --color-black: #000;
        --color-limegreen: #2dd01e;
        --color-forestgreen-100: #31a227;
        --color-forestgreen-200: rgba(39, 162, 58, 0.8);
        --color-forestgreen-300: rgba(49, 162, 39, 0.8);
        --color-honeydew: #e2ffe1;
        /* Border radiuses */
        --br-8xs: 5px;
        --br-xl: 20px;
        --br-3xs: 10px;
    }

</style>
<body>
    <div class="trang-ch-nhn-vin">
        <div class="thng-tin-c-nhn">
            <div class="thng-tin-c-nhn-child"></div>
            <div class="thng-tin-c" id="thngTinC">Thông tin cá nhân</div>
        </div>
        <div class="trang-ch-nhn-vin-child"></div>
        <div class="binh-minh-hotel-parent">
            <div class="binh-minh-hotel">BINH MINH HOTEL</div>
            <div class="frame-child"></div>
            <div class="frame-item" id="rectangle1"></div>
            <div class="frame-inner" id="rectangle2"></div>
            <div class="trang-ch">Trang chủ</div>
            <div class="i-mt-khu">Đổi mật khẩu</div>
            <div class="ng-xut">Đăng xuất</div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon"
             alt=""
             src="https://scontent.xx.fbcdn.net/v/t1.15752-9/435264282_1107310530502381_1832007922840023753_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGkaGa3xbADwxbD9rSckcFSJg-_qGl2dC4mD7-oaXZ0LjcNXf169KDmAOPpq4qMWk5_EPM1k0uEuIMxMTpMa4s_&_nc_ohc=Bn2WIaAA1zEQ7kNvgHhm-k_&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHTEKShaxf0StvFsnqL-HWaYrhIDLaG2uCoOGyD95SRNw&oe=666283D0" />

        <div class="cho-mng-bn">Chào mừng bạn trở lại, User01!</div>
        <div class="trang-ch-nhn-vin-item"></div>
        <div class="trang-ch-nhn-vin-inner"></div>
        <div class="chc-v">Chức vụ</div>
        <div class="rectangle-div"></div>
        <div class="nhn-vin">Nhân viên</div>
        <div class="trang-ch-nhn-vin-child1"></div>
        <div class="trang-ch-nhn-vin-child2"></div>
        <div class="trng-thi-chm">Trạng thái chấm công</div>
        <div class="trang-ch-nhn-vin-child3"></div>
        <div class="chm-cng">Đã chấm công</div>
        <div class="lch-lm-vic">
            <div class="thng-tin-c-nhn-child"></div>
            <div class="lch-lm-vic1" id="lchLmVic">Lịch làm việc</div>
        </div>
        <div class="trang-ch-nhn-vin-child4"></div>
        <div class="lng-c-nhn" id="lngCNhn">Lương cá nhân</div>
        <div class="thng-tin-c-nhn1">
            <div class="thng-tin-c-nhn-item"></div>
        </div>
        <b class="user01">User01</b>
        <img class="n-1-icon"
             alt=""
             src="https://scontent.xx.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGjeQ92gKdHOdLGBTTsmL9O3i0KWcVikJ_eLQpZxWKQn54vjn1hliXtFFRCB4aZTqtGX_28Vs3lqsqjH76gMq_E&_nc_ohc=gQiDw6zaWwEQ7kNvgGZYNzQ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QEKjqwrVaXSS4NGskH3fr92mbelZDFGntvfbssyF89ekA&oe=666296BE" />
    </div>

    <script>
        var thngTinC = document.getElementById("thngTinC");
        if (thngTinC) {
            thngTinC.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Nhanvien/thongtin";
            });
        }

        var rectangle1 = document.getElementById("rectangle1");
        if (rectangle1) {
            rectangle1.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - nv" to the project
            });
        }

        var rectangle2 = document.getElementById("rectangle2");
        if (rectangle2) {
            rectangle2.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Nhanvien/Index"
            });
        }

        var lchLmVic = document.getElementById("lchLmVic");
        if (lchLmVic) {
            lchLmVic.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Nhanvien/Lichlamvieccanhan";
            });
        }

        var lngCNhn = document.getElementById("lngCNhn");
        if (lngCNhn) {
            lngCNhn.addEventListener("click", function (e) {
                window.location.href = " https://localhost:7221/Nhanvien/Luongcanhan";
            });
        }
    </script>
</body>
</html>
