.ngaylamviec{
        position: absolute;
        top: 200px;
        left: 1000px;
        width: 150px;
        height: 10px;
        overflow: hidden;
   }
   .ngay{
        position: absolute;
        top: 200px;
        left: 900px;
        width: 150px;
        height: 10px;
        overflow: hidden;
   }
<div class="ngay">  Chọn ngày</div>
<input class="ngaylamviec" id="myID" placeholder="Ngày làm việc">

        </input>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#myID", {});
</script>