@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
</head>
<style>
    .qun-l-cng-vic-child {
        position: absolute;
        top: 490px;
        left: 0;
        background-color: var(--color-forestgreen-200);
        width: 289px;
        height: 534px;
        overflow: hidden;
    }

    .binh-minh-hotel4 {
        position: absolute;
        top: 0;
        left: 148px;
        display: inline-block;
        width: 279px;
        height: 111px;
    }

    .group-child7,
    .group-child8 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: var(--br-3xs);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        box-sizing: border-box;
        width: 160px;
        height: 50px;
    }

    .group-child8 {
        left: 170px;
    }

    .i-mt-khu4,
    .ng-xut4 {
        position: absolute;
        top: 13px;
        left: 21px;
        font-weight: 500;
        display: inline-block;
        width: 134px;
        height: 28px;
        cursor: pointer;
    }

    .ng-xut4 {
        left: 202px;
        width: 116px;
    }

    .group-div {
        position: absolute;
        top: 35px;
        left: 1070px;
        width: 330px;
        height: 50px;
        font-size: var(--font-size-xl);
        color: var(--color-black);
        font-family: var(--font-inter);
    }

    .binh-minh-hotel-parent1 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-forestgreen-300);
        width: 1550px;
        height: 120px;
        overflow: hidden;
        font-size: var(--font-size-31xl);
        font-family: var(--font-irish-grover);
    }

    .istockphoto-1420738401-170667a-icon4 {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 107px;
        height: 96px;
        object-fit: cover;
    }

    .thng-tin-c-nhn-child6 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 288px;
        height: 90px;
    }

    .qun-l-h1 {
        position: absolute;
        top: 32px;
        left: 55px;
        font-weight: 500;
        display: inline-block;
        width: 218.7px;
        height: 32px;
        cursor: pointer;
    }

    .lch-lm-vic-child2,
    .thng-tin-c-nhn8 {
        position: absolute;
        top: 220px;
        left: 1px;
        width: 288px;
        height: 90px;
    }

    .lch-lm-vic-child2 {
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 289px;
    }

    .qun-l-phng1 {
        position: absolute;
        top: 32px;
        left: 48px;
        font-weight: 500;
        display: inline-block;
        width: 204.6px;
        height: 40px;
        cursor: pointer;
    }

    .lch-lm-vic7,
    .qun-l-cng-vic-item {
        position: absolute;
        top: 310px;
        left: 0;
        width: 289px;
        height: 90px;
    }

    .qun-l-cng-vic-item {
        top: 400px;
        background-color: var(--color-black);
    }

    .qun-l-cng1 {
        margin: 0;
    }

    .qun-l-cng-container1 {
        position: absolute;
        top: 429px;
        left: 53px;
        font-weight: 500;
        display: inline-block;
        width: 188px;
        height: 39px;
    }

    .qun-l-cng2 {
        position: absolute;
        top: -1px;
        left: 12px;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 192px;
        height: 30px;
    }

    .qun-l-cng-vic-wrapper {
        position: absolute;
        top: 140px;
        left: 311px;
        background-color: var(--color-honeydew);
        width: 1104px;
        height: 32px;
        overflow: hidden;
        text-align: center;
        font-size: var(--font-size-xl);
        color: var(--color-black);
    }

    .xem-lch-lm {
        position: absolute;
        top: 161px;
        left: 30px;
        font-weight: 500;
        display: inline-block;
        width: 165px;
        height: 23px;
    }

    .calendartoday-icon,
    .xem-lich {
        position: absolute;
        top: 20px;
        left: 18px;
        width: 177px;
        height: 141px;
        overflow: hidden;
    }

    .xem-lich {
        top: 445px;
        left: 515px;
        border-radius: var(--br-3xs);
        background-color: var(--color-forestgreen-100);
        width: 219px;
        height: 204px;
        cursor: pointer;
        font-size: var(--font-size-xl);
    }

    .sp-xp-lch {
        position: absolute;
        top: 161px;
        left: 35px;
        font-weight: 500;
    }

    .sp-xp,
    .vector-icon {
        position: absolute;
        overflow: hidden;
    }

    .vector-icon {
        height: 64.22%;
        width: 66.21%;
        top: 7.35%;
        right: 16.89%;
        bottom: 28.43%;
        left: 16.89%;
        max-width: 100%;
        max-height: 100%;
    }

    .sp-xp {
        top: 445px;
        left: 925px;
        border-radius: var(--br-3xs);
        background-color: var(--color-forestgreen-100);
        width: 219px;
        height: 204px;
        cursor: pointer;
        font-size: var(--font-size-xl);
    }

    .thng-tin-c-nhn-child7 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-darkslategray);
        width: 292px;
        height: 100px;
    }

    .n-1-icon4,
    .thng-tin-c-nhn9 {
        position: absolute;
        top: 120px;
        left: -3px;
        width: 292px;
        height: 100px;
    }

    .n-1-icon4 {
        top: 132px;
        left: 38px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }

    .user02 {
        position: absolute;
        top: 164px;
        left: 129px;
        display: inline-block;
        text-align: center;
        width: 112px;
        height: 45px;
    }

    .qun-l-cng-vic {
        width: 100%;
        position: relative;
        height: 1024px;
        overflow: hidden;
        background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFJMnRkpBX4VXFUqgQe8t4MAnEj3tDXrhwCcSPe0NeuHBfYQCRlTLYqRSzjZcYLanAmYfZQt1qLkkGk46N3Lk1j&_nc_ohc=TVWeThWHVZYQ7kNvgGSaUp7&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFQMNbDnoyWTzN6fYKTZE2Ud1UmBv6_AVvLWi-S-1RfnQ&oe=66781A5D);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        text-align: left;
        font-size: var(--font-size-3xl);
        color: var(--color-white);
        font-family: var(--font-inter);
    }

    body {
        margin: 0;
        line-height: normal;
    }

    :root {
        /* fonts */
        --font-inter: Inter;
        --font-irish-grover: "Irish Grover";
        /* font sizes */
        --font-size-3xl: 22px;
        --font-size-xl: 20px;
        --font-size-31xl: 50px;
        --font-size-11xl: 30px;
        --font-size-21xl: 40px;
        --font-size-5xl: 24px;
        --font-size-29xl: 48px;
        /* Colors */
        --color-white: #fff;
        --color-darkslategray: rgba(48, 46, 46, 0.89);
        --color-honeydew: #e2ffe1;
        --color-black: #000;
        --color-forestgreen-100: #31a227;
        --color-forestgreen-200: rgba(39, 162, 58, 0.8);
        --color-forestgreen-300: rgba(49, 162, 39, 0.8);
        --color-limegreen: #2dd01e;
        /* Border radiuses */
        --br-3xs: 10px;
        --br-8xs: 5px;
        --br-xl: 20px;
    }

</style>
<body>
    <div class="qun-l-cng-vic">
        <div class="qun-l-cng-vic-child"></div>
        <div class="binh-minh-hotel-parent1">
            <div class="binh-minh-hotel4">BINH MINH HOTEL</div>
            <div class="group-div">
                <div class="group-child7"></div>
                <div class="group-child8"></div>
                <a asp-controller="Doimatkhau" asp-action="Doimatkhau" class="doimatkhau" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 190px;text-decoration: none; color:black;">Đổi mật khẩu</a>
                <a asp-controller="Login" asp-action="Logout" class="dang-xuat-link" style="position: absolute; font-weight: 500;
            display: inline-block; top: 13px; right: 30px;text-decoration: none; color:black;">Đăng xuất</a>
            </div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon4"
             alt=""
             src="https://scontent.fdad3-6.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=CBOICZWaGBkQ7kNvgFB0aYp&_nc_ht=scontent.fdad3-6.fna&oh=03_Q7cD1QFNS0J7t-2Jhyfg0lTMvPC455ubvURUvDIdufq4o60BfQ&oe=668C8E7E" />

        <div class="thng-tin-c-nhn8">
            <div class="thng-tin-c-nhn-child6"></div>
            <a asp-controller="Quanly" asp-action="quanlyhoso" style="text-decoration: none; color:white;" class="qun-l-h1">Quản lý hồ sơ</a>
           
        </div>
        <div class="lch-lm-vic7">
            <div class="lch-lm-vic-child2"></div>
            <a asp-controller="Quanly" asp-action="Phongban" style="text-decoration: none; color:white;" class="qun-l-phng1">Quản lý phòng ban</a>
            
        </div>
        <div class="qun-l-cng-vic-item"></div>
        <div class="qun-l-cng-container1">
            <p class="qun-l-cng1">Quản lý công việc</p>
        </div>
        <div class="qun-l-cng-vic-wrapper">
            <div class="qun-l-cng2">Quản lý công việc</div>
        </div>
        <div class="xem-lich" id="xemLichContainer">
          @*   <div class="xem-lch-lm">Xem lịch làm việc</div> *@
            <a asp-controller="Quanly" asp-action="Lichlamviec" class="xem-lch-lm";">Xem lịch làm việc</a>
            <img class="calendartoday-icon"
                 alt=""
                 src="https://d1xzdqg8s8ggsr.cloudfront.net/6634b231c9ce15e41a24b47b/fe18fcaf-9242-4ab7-a2a2-6107845ddb15_1715277343113358227?Expires=-62135596800&Signature=bNtKkq8OaZEYjDryAi4IBkaL4O-Qt1fIRBpp1ZtdvtG0I~5CjA-roZoLgHVmpbSIiRXPrzgDwUPadJ9CB5DKfJsRJKVDnaPQA~hGxfXnjM19DUZoDGXInMWbqs3jM75-z5FgGAIo283ydZQxYww6SN7LQR5g-~RCLu5I7A06-WHSITG2pbPh9El4QItsG1g~crKnMOpuKRT1lYZ2hi0T68Thmz5cohCOFh4Fcm0-YErO4qNJFkz00yf4KNgXvkNEZCdXl5jG5P~9K2GkSNmvP8QvsE1-PUP-ILgeJp7Q9CY3z9Ws3Oup898BETRljY3DAhK1flUBwl5dy9ZML7c~BQ__&Key-Pair-Id=K1P54FZWCHCL6J" />
        </div>
        <div class="sp-xp" id="spXpContainer">
            <a asp-controller="Quanly" asp-action="CongViec" class="sp-xp-lch" ;">Sắp xếp công việc</a>
            <img class="vector-icon" alt="" src="https://d1xzdqg8s8ggsr.cloudfront.net/6634b231c9ce15e41a24b47b/eccdb36f-9ca1-4758-8054-844e0588dce0_1715277343113482490?Expires=-62135596800&Signature=EsAsta2QbLGsp4oZ5pDn4Cq322kxi3mz9pSLvOFPYgZGu4pD~VuEfn4UrnqU20beIOHH0c~p225FubUQRQjInIFuPcGMiJKgmGVPjz8Ey6~kK6Ejq6yKeV~1mU3LtLGNFWwX2~qRaEn0MI-bq7zE1R~z-unlSZnclSIu5o2eKwiYV8xTGyz1GNMcXYucLZV1s-z2aMYzlXJEryRLroZPjVlEsyWsEtMjIVZRAUrTdsfoMcK71ahNNJkxEOWpbLs32AcdZocipL3k0dtsH-j3K4lVfHRJc8S7PvgixiOY8yLdZ4AuOMLQOddZJZkdOwoLIjqM17yo25o-iubuWlqzSQ__&Key-Pair-Id=K1P54FZWCHCL6J" />
        </div>
        <div class="thng-tin-c-nhn9">
            <div class="thng-tin-c-nhn-child7"></div>
        </div>
        <img class="n-1-icon4"
             alt=""
             src="https://scontent.xx.fbcdn.net/v/t1.15752-9/435264282_1107310530502381_1832007922840023753_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEWw0jKlDzYG29vauLC2BRxJg-_qGl2dC4mD7-oaXZ0LmRBLhQT3PNGmmJczUgrzhH9vauygVsNzDWGfIeTVasP&_nc_ohc=6rRhPDRx88YQ7kNvgEacIE8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHR3jN8PTDS0R1SkLefBKrnlfqt_AlrjVsbFLjHAJI4mA&oe=6665CF90" />


        <b class="user02">@ViewData["Message"]</b>
    </div>

    <script>
        var iMtKhu = document.getElementById("iMtKhu");
        if (iMtKhu) {
            iMtKhu.addEventListener("click", function (e) {
                // Please sync "Đổi mật khẩu - ql" to the project
            });
        }

      
        var qunLH = document.getElementById("qunLH");
        if (qunLH) {
            qunLH.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/quanlyhoso";
            });
        }

        var qunLPhng = document.getElementById("qunLPhng");
        if (qunLPhng) {
            qunLPhng.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Phongban";
            });
        }

        // var xemLichContainer = document.getElementById("xemLichContainer");
        // if (xemLichContainer) {
        //     xemLichContainer.addEventListener("click", function (e) {
        //         window.location.href = "https://localhost:7221/Quanly/Quanlycongviec";
        //     });
        // }

        // var spXpContainer = document.getElementById("spXpContainer");
        // if (spXpContainer) {
        //     spXpContainer.addEventListener("click", function (e) {
        //         // Please sync "quản lý công việc-sắp xếp công việc" to the project
        //     });
        // }
    </script>
</body>
</html>
