@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./phn-quyn-truy-cp.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Jolly Lodger:wght@400&display=swap" />
          <style>
        .phn-quyn-truy-cp-child {
            position: absolute;
            top: 120px;
            left: 0;
            background-color: var(--color-forestgreen-200);
            width: 289px;
            height: 904px;
            overflow: hidden;
        }

        .binh-minh-hotel {
            position: absolute;
            top: 0;
            left: 148px;
            display: inline-block;
            width: 279px;
            height: 111px;
        }

        .binh-minh-hotel-wrapper {
            position: absolute;
            top: 0;
            left: -1px;
            background-color: var(--color-forestgreen-300);
            width: 1550px;
            height: 120px;
            overflow: hidden;
            font-size: var(--font-size-31xl);
            font-family: var(--font-irish-grover);
        }

        .istockphoto-1420738401-170667a-icon {
            position: absolute;
            top: 13px;
            left: 15px;
            width: 107px;
            height: 96px;
            object-fit: cover;
        }

        .cho-mng-bn {
            position: absolute;
            top: 140px;
            left: 310px;
            font-size: var(--font-size-29xl);
            color: var(--color-black);
            display: inline-block;
            width: 708px;
            height: 58px;
        }

        .phn-quyn-truy-cp-item {
            position: absolute;
            top: 229px;
            left: 344px;
            border-radius: var(--br-xl);
            background-color: var(--text-2);
            width: 320px;
            height: 150px;
        }

        .phn-quyn-truy-cp-inner {
            position: absolute;
            top: 246px;
            left: 364px;
            border-radius: var(--br-8xs);
            background-color: var(--color-limegreen);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .chc-v {
            position: absolute;
            top: 247px;
            left: 426px;
            display: inline-block;
            width: 169px;
            height: 44px;
        }

        .rectangle-div {
            position: absolute;
            top: 308px;
            left: 364px;
            border-radius: var(--br-8xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .nhn-vin {
            position: absolute;
            top: 311px;
            left: 409px;
            color: var(--color-black);
            display: inline-block;
            width: 190px;
            height: 48px;
            cursor: pointer;
        }

        .phn-quyn-truy-cp-child1 {
            position: absolute;
            top: 229px;
            left: 858px;
            border-radius: var(--br-xl);
            background-color: var(--text-2);
            width: 320px;
            height: 150px;
        }

        .phn-quyn-truy-cp-child2 {
            position: absolute;
            top: 246px;
            left: 878px;
            border-radius: var(--br-8xs);
            background-color: var(--color-limegreen);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .chc-v1 {
            position: absolute;
            top: 247px;
            left: 940px;
            display: inline-block;
            width: 169px;
            height: 44px;
        }

        .phn-quyn-truy-cp-child3 {
            position: absolute;
            top: 308px;
            left: 878px;
            border-radius: var(--br-8xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .qun-l {
            position: absolute;
            top: 311px;
            left: 923px;
            color: var(--color-black);
            display: inline-block;
            width: 190px;
            height: 48px;
            cursor: pointer;
        }

        .phn-quyn-truy-cp {
            width: 100%;
            position: relative;
            height: 1024px;
            overflow: hidden;
            background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgHCBgnX&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QH8bJYqnFQFcrfNbjaTD5AoBllYDfpYGwcaQz5M77ELCA&oe=665B195D);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            text-align: left;
            font-size: var(--font-size-21xl);
            color: var(--text-2);
            font-family: var(--font-inter);
        }
<style>
        body {
            margin: 0;
            line-height: normal;
        }

        .popup-overlay {
            display: flex;
            flex-direction: column;
            position: fixed;
            inset: 0;
        }

        :root {
            /* fonts */
            --font-inter: Inter;
            --font-irish-grover: "Irish Grover";
            --font-jolly-lodger: "Jolly Lodger";
            /* font sizes */
            --font-size-21xl: 40px;
            --font-size-29xl: 48px;
            --font-size-31xl: 50px;
            --font-size-10xl: 29px;
            --font-size-3xl: 22px;
            --font-size-lg: 18px;
            --font-size-xl: 20px;
            --font-size-5xl: 24px;
            --font-size-sm: 14px;
            --font-size-base: 16px;
            --font-size-xs: 12px;
            --font-size-lgi: 19px;
            /* Colors */
            --color-black: #000;
            --text-2: #fff;
            --color-limegreen: #2dd01e;
            --color-forestgreen-100: #31a227;
            --color-forestgreen-200: rgba(39, 162, 58, 0.8);
            --color-forestgreen-300: rgba(49, 162, 39, 0.8);
            --color-darkslategray-100: rgba(48, 46, 46, 0.89);
            --color-gray-100: #fcfdfe;
            --color-gray-200: #101010;
            --color-gray-300: rgba(255, 255, 255, 0.4);
            --color-darkslateblue-100: #123060;
            --color-darkslateblue-200: rgba(18, 48, 96, 0.5);
            /* Gaps */
            --gap-36xl: 55px;
            --gap-5xs: 8px;
            --gap-xl: 20px;
            /* Paddings */
            --padding-xl: 20px;
            --padding-15xl: 34px;
            --padding-mid: 17px;
            --padding-12xs: 1px;
            --padding-3xs: 10px;
            --padding-10xs: 3px;
            --padding-11xl: 30px;
            --padding-10xl: 29px;
            --padding-2xs: 11px;
            --padding-17xl: 36px;
            --padding-smi: 13px;
            --padding-37xl: 56px;
            --padding-8xs: 5px;
            --padding-10xs-1: 2.1px;
            --padding-lgi-7: 19.7px;
            /* Border radiuses */
            --br-8xs: 5px;
            --br-xl: 20px;
            --br-mini: 15px;
            --br-5xs: 8px;
        }

</style>
          </style>
</head>
<body>
    <div class="phn-quyn-truy-cp">
        <div class="phn-quyn-truy-cp-child"></div>
        <div class="binh-minh-hotel-wrapper">
            <div class="binh-minh-hotel">BINH MINH HOTEL</div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon"
             alt=""
             src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgF-i_Nr&_nc_ht=scontent-hkg4-1.xx&oh=03_Q7cD1QHTBfTE1VsgSvkGOho8uIxoszyijMDXQw1MlIqLTGvNrg&oe=665B1E3E" />

        <div class="cho-mng-bn">Chào mừng bạn trở lại!</div>
        <div class="phn-quyn-truy-cp-item"></div>
        <div class="phn-quyn-truy-cp-inner"></div>
        <div class="chc-v">Chức vụ</div>
        <div class="rectangle-div"></div>
        <div class="nhn-vin" id="nhnVinText">Nhân viên</div>
        <div class="phn-quyn-truy-cp-child1"></div>
        <div class="phn-quyn-truy-cp-child2"></div>
        <div class="chc-v1">Chức vụ</div>
        <div class="phn-quyn-truy-cp-child3"></div>
        <div class="qun-l" id="qunLText">Quản lý</div>
    </div>

    <script>
        var nhnVinText = document.getElementById("nhnVinText");
        if (nhnVinText) {
            nhnVinText.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Nhanvien/Index";
            });
        }

        var qunLText = document.getElementById("qunLText");
        if (qunLText) {
            qunLText.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Quanly/Trangchuquanly"
            });
        }
    </script>
   
</body>
</html>

