@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./phn-quyn-truy-cp.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
          <style>
        .phn-quyn-truy-cp-child {
            position: absolute;
            top: 120px;
            left: 0;
            background-color: var(--color-forestgreen-300);
            width: 289px;
            height: 904px;
            overflow: hidden;
        }

        .binh-minh-hotel1 {
            position: absolute;
            top: 0;
            left: 148px;
            display: inline-block;
            width: 279px;
            height: 111px;
        }

        .binh-minh-hotel-wrapper {
            position: absolute;
            top: 0;
            left: -1px;
            background-color: var(--color-forestgreen-200);
            width: 1500px;
            height: 120px;
            overflow: hidden;
            font-size: var(--font-size-31xl);
            font-family: var(--font-irish-grover);
        }

        .istockphoto-1420738401-170667a-icon1 {
            position: absolute;
            top: 13px;
            left: 15px;
            width: 107px;
            height: 96px;
            object-fit: cover;
        }

        .cho-mng-bn1 {
            position: absolute;
            top: 140px;
            left: 310px;
            font-size: var(--font-size-29xl);
            color: var(--color-black);
            display: inline-block;
            width: 708px;
            height: 58px;
        }

        .phn-quyn-truy-cp-item {
            position: absolute;
            top: 229px;
            left: 344px;
            border-radius: var(--br-xl);
            background-color: var(--text-2);
            width: 320px;
            height: 150px;
        }

        .phn-quyn-truy-cp-inner {
            position: absolute;
            top: 246px;
            left: 364px;
            border-radius: var(--br-8xs);
            background-color: var(--color-limegreen);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .chc-v1 {
            position: absolute;
            top: 247px;
            left: 426px;
            display: inline-block;
            width: 169px;
            height: 44px;
        }

        .phn-quyn-truy-cp-child1 {
            position: absolute;
            top: 308px;
            left: 364px;
            border-radius: var(--br-8xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .nhn-vin1 {
            position: absolute;
            top: 311px;
            left: 409px;
            color: var(--color-black);
            display: inline-block;
            width: 190px;
            height: 48px;
            cursor: pointer;
        }

        .phn-quyn-truy-cp-child2 {
            position: absolute;
            top: 229px;
            left: 858px;
            border-radius: var(--br-xl);
            background-color: var(--text-2);
            width: 320px;
            height: 150px;
        }

        .phn-quyn-truy-cp-child3 {
            position: absolute;
            top: 246px;
            left: 878px;
            border-radius: var(--br-8xs);
            background-color: var(--color-limegreen);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .chc-v2 {
            position: absolute;
            top: 247px;
            left: 940px;
            display: inline-block;
            width: 169px;
            height: 44px;
        }

        .phn-quyn-truy-cp-child4 {
            position: absolute;
            top: 308px;
            left: 878px;
            border-radius: var(--br-8xs);
            background-color: var(--text-2);
            border: 1px solid var(--color-black);
            box-sizing: border-box;
            width: 280px;
            height: 54px;
        }

        .k-ton1 {
            margin: 0;
        }

        .k-ton {
            position: absolute;
            top: 311px;
            left: 923px;
            color: var(--color-black);
            display: inline-block;
            width: 190px;
            height: 48px;
            cursor: pointer;
        }

        .phn-quyn-truy-cp {
            width: 100%;
            position: relative;
            height: 1024px;
            overflow: hidden;
            background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/435229924_1387605835555899_1676943816951711557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-hduBPulx8BUfEDVtA6eeAnEj3tDXrhwCcSPe0NeuHCIB5UgzYlt5zBgKQ2bQ3LL2aUd92XNbkmUq7xUHA-XE&_nc_ohc=nYt1abA6-owQ7kNvgHCBgnX&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QH8bJYqnFQFcrfNbjaTD5AoBllYDfpYGwcaQz5M77ELCA&oe=665B195D);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            text-align: left;
            font-size: var(--font-size-21xl);
            color: var(--text-2);
            font-family: var(--font-inter);
        }

        
          </style>
          <style>
        body {
            margin: 0;
            line-height: normal;
        }

        :root {
            /* fonts */
            --font-inter: Inter;
            --font-irish-grover: "Irish Grover";
            /* font sizes */
            --font-size-3xl: 22px;
            --font-size-21xl: 40px;
            --font-size-29xl: 48px;
            --font-size-xl: 20px;
            --font-size-31xl: 50px;
            /* Colors */
            --text-2: #fff;
            --color-darkslategray: rgba(48, 46, 46, 0.89);
            --color-black: #000;
            --color-limegreen: #2dd01e;
            --color-forestgreen-300: rgba(39, 162, 58, 0.8);
            --color-forestgreen-200: rgba(49, 162, 39, 0.8);
            /* Border radiuses */
            --br-8xs: 5px;
            --br-xl: 20px;
            --br-3xs: 10px;
        }

          </style>
</head>
<body>
    <div class="phn-quyn-truy-cp">
        <div class="phn-quyn-truy-cp-child"></div>
        <div class="binh-minh-hotel-wrapper">
            <div class="binh-minh-hotel1">BINH MINH HOTEL</div>
        </div>
        <img class="istockphoto-1420738401-170667a-icon1"
             alt=""
             src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/434534001_1448732405736076_2728451762103298305_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeELIMxQW_20PbqvrN_Laesa3i0KWcVikJ_eLQpZxWKQn5ANGfV59GLmC_gCpYHKR6n1pkGFUOFXN7xtrfKYOuxS&_nc_ohc=omjHx4n50lYQ7kNvgEGrgiN&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QGE8QM12JKsRYENqDdje-3szUmO1E_h_Y4YHuOU5d5AMA&oe=665B1E3E" />

        <div class="cho-mng-bn1">Chào mừng bạn trở lại!</div>
        <div class="phn-quyn-truy-cp-item"></div>
        <div class="phn-quyn-truy-cp-inner"></div>
        <div class="chc-v1">Chức vụ</div>
        <div class="phn-quyn-truy-cp-child1"></div>
        <div class="nhn-vin1" id="nhnVinText">Nhân viên</div>
        <div class="phn-quyn-truy-cp-child2"></div>
        <div class="phn-quyn-truy-cp-child3"></div>
        <div class="chc-v2">Chức vụ</div>
        <div class="phn-quyn-truy-cp-child4"></div>
        <div class="k-ton" id="kTonText">
            <p class="k-ton1">Kế toán</p>
        </div>
    </div>

    <script>
        var nhnVinText = document.getElementById("nhnVinText");
        if (nhnVinText) {
            nhnVinText.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Nhanvien/Index";
            });
        }

        var kTonText = document.getElementById("kTonText");
        if (kTonText) {
            kTonText.addEventListener("click", function (e) {
                window.location.href = "https://localhost:7221/Ketoan/Trangchuketoan";
            });
        }
    </script>
</body>
</html>

